<h1>Add Student</h1>
<form method="post">
    <div class="form-group">
        <label for ="studentname">StudentName</label>
        <input name="studentname" type="text"/>
    </div>
   <div class="form-group">
        <label for ="address">Address</label>
        <input name="address" />
    </div>
   <input type="submit" value="Add Student">
</form>